 <nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index.html"><img src="/assets/images/logo.png" alt=""></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
               {% include menu-header.html %}
            </ul>

  <span id="search-wrapper" class="align-items-center">
      <i class="fas fa-search fa-fw search-start"></i>
      <input class="form-control" id="search-input" type="search" placeholder="搜索..." />
      <i class="fa fa-times-circle fa-fw search-cleaner"></i>
    </span>
	<span id="search-cancel" >Cancel</span>
		<div class="search-results"></div> 
		
		
	</div>
    </div>
 </nav>

